@media (max-width: 767px) {

    .navigation li {
        padding: 10px; /* Mengurangi padding navigasi */
    }
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
  }
  .slide{
   height: 100%;
   width: 180px;
   margin-top: -5%;
   position: fixed;
   background-color: #272829;
   transition: .5s ease;
   transform: translateX(-180px);
  }
  h1{
    color: crimson;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
  }
  ul li{
    list-style: none;
  }
  ul li a{
    color: white;
    font-weight: 500;
    padding: 10px 10px ;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s ease-out;
  }
  ul li:hover a{
    background-color: crimson;
  }
  ul li a i{
    width: 40px;
    text-align: center;
  }
  .brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 30px;
    padding-top: 70px;
    text-transform: capitalize;
  }
  .firstname {
    color: white;
    font-weight: 700;
  }
  .lastname {
    color: crimson;
    font-weight: 400;
  }
  input{
    display: none;
    visibility: hidden;
    appearance: none;
  }
  .toggle{
    position: fixed;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #4c5258;
    box-shadow: 0 0 5px rgba(112, 107, 107, 0.3);
  }
  .toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: crimson;
    border-radius: 50px;
    transition: .3s ease;
  }
  .toggle .top_line{
    top: 30%;
    left: 20%;
    transform: translate(-50% -50%);
  }
  .toggle .middle_line{
    top: 50%;
    left: 20%;
    transform: translate(-50% -50%);
  }
  .toggle .bottom_line{
    top: 70%;
    left: 20%;
    transform: translate(-50% -50%);
  }
  input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px; 
    transform: rotate(45deg);
  }
  input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
  }
  input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px; 
    transform: rotate(-45deg);
  }
  input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
  }
  
  article h2{
    margin-left: 5%;
    font-weight: bold ;
    font-size: 25px;
    text-transform: capitalize;
  }
  article p{
    margin-left: 4%;
    margin-right: 30%;
    margin-top: 20px;
  }
  
  .description{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 10%;
  margin-left: 5%;
  font-size: 20px;
  text-align: justify;
  text-indent: .5in;
  list-style-position: inherit;
  }

  article .description a{
   color: crimson;
   text-decoration: none;
  }
  
  article .description a:hover{
    color: rgb(79, 3, 3);
  }

  button{
    background-color: crimson;
    color: #fff;
    height: 40px;
    width: 50px;
    cursor: pointer;
    margin: 20px 55px;
    border-radius: 30px;
  }

  .container {
  max-width: 100%;
  margin-left: 12%;
  margin-right: 5%;
  margin-top: 5%;
  }

  table{
    padding: 0;
    margin: 20px 30px;
  }
  table tr th{
     padding: 3px 20px;
     background-color: crimson;
  }
  table tr td{
    padding :5px 30px;
    background-color: #fff;
  }